html {
    font-family: HarmonyOS_Sans;
}

body {
    background-color: #202124;
    background: url('../img/background.png') no-repeat center center fixed;
    display: inline-block;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    user-select: none;
    cursor: default;
    z-index: -5;
    animation: image-fade-in 1s ease;
}

@keyframes header-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.6;
    }
}

@keyframes text-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.big-title-container {
    text-align: center;
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
}

.title {
    position: absolute;
    color: #FFF;
    top: 1vw;
    font-size: 5vw;
    font-weight: normal;
    line-height: 100%;
    letter-spacing: 0em;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 16px;
    -webkit-animation: text-fade-in 1.5s;
    animation: text-fade-in 1.5s;
}

.sub-title {
    position: absolute;
    padding-top: 128px;
    color: #3e9afc;
    top: 9vw;
    left: 4vw;
    font-weight: normal;
    font-size: 2vw;
    letter-spacing: 0em;
    -webkit-animation: text-fade-in 1.5s;
    animation: text-fade-in 1.5s;
}

@media screen and (max-width: 600px) {
    .big-title-container .title {
        font-size: 8vw;
    }

    .big-title-container .sub-title {
        font-size: 6vw;
        top: 13vw;
    }
}


@keyframes image-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header {
    background-color: black !important;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    opacity: 0.6;
    z-index: 5;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    line-height: 25px;
    -webkit-animation: header-fade-in 2s;
    animation: header-fade-in 2s;
    transition: all 1s ease;
}

header:hover {
    opacity: 0.9;
    transition: all 1s ease;
}

header .left {
    position: absolute;
    top: 12px;
    padding-left: 8px;
    color: #FFF;
    -webkit-animation: text-fade-in 2s;
    animation: text-fade-in 2s;
}

header a {
    color: #FFF;
}

header #time {
    position: absolute;
    top: 10px;
    width: 100%;
    color: #FFF;
    text-align: center;
    -webkit-animation: text-fade-in 2s;
    animation: text-fade-in 2s;
}

.arrow {
    position: absolute;
    border-radius: 15px;
    width: 100%;
    bottom: 10%;
    left: 0;
    height: 10px;
    -webkit-animation: text-fade-in 3s;
    animation: text-fade-in 3s;
}

main {
    display: inline-block;
    z-index: 5;
}

main .blank {
    position: absolute;
    text-align: center;
    border-radius: 43px;
    width: 100%;
    left: 0;
    top: 100%;
    background-color: #00000000/* #2B2C2F */;
    color: white !important;
}

main .blank .regular_color, main .blank .alternate_color, main .blank .transparent{
    width: 100%;
    padding: 10px;
}

main .blank .regular_color {
    background-color: #202124;
}

main .blank .alternate_color {
    background-color: #2B2C2F;
}

main .blank .transparent {
    background-color: #00000000;
}

main .blank h1 {
    margin-bottom: 0px;
}

.label {
    display: inline-block;
    background-color: #37393e;
    border: none;
    border-radius: 5px;
    padding: 5px 15px 4px 15px;
    margin-left: 5px;
    margin-right: 5px;
    color:hsl(0, 0%, 80%);
    transition: all 0.5s ease;
}

.label:hover {
    color:hsl(0, 0%, 100%);
    font-size: 18px;
    transition: all 0.5s ease;
}

.hitokoto {
    position: absolute;
    bottom: 90px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
    text-align: center;
    border-radius: 5px;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.20);
    font-size: 20px;
    padding: 2px 5px 2px 5px;
    -webkit-animation: text-fade-in 1s;
    animation: text-fade-in 1s;

}

.hitokoto #hitokoto_text {
    color: #ffffffdd;
    text-decoration: none;
    -webkit-animation: text-fade-in 1.5s;
    animation: text-fade-in 1.5s;
}

footer {
    display: inline-block;
    padding: 10px;
    width: 100%;
    color: #fff;
    opacity: 0.8;
    line-height: 15px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

p {
    font-size: 17px;
    line-height: 25px;
}

.blank a {
    color: #3e9afc;
    cursor: pointer;
}
